.main {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.main li a{
    text-decoration: none;
    margin-right: 40px;
    padding:5px;
    color: blue;
    font-size:25px;
    background-color: orange;
    border-radius:10px;
}

.form-control {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.indexIO li{
    list-style: none;
    margin: 90px 100px;
    padding:5px;
    color: blue;
    font-size:25px;
    background-color: orange;
    border-radius:10px;
}
.indexIO li a{text-decoration: none;}