<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <ul class="main">
        <li><a href="/IndexI_O">Điểm danh bắt đầu/kết thúc giờ làm </a></li>
        <li><a href="/conTactIndex">Xem/Sửa Thông tin cá nhân</a></li>
        <li><a href="/conFirm">Tra Cứu Thông Tin Giờ Làm/Lương</a></li>
        <li><a href="/covidInfo">Thông tin Covid cá nhân</a></li>
        <!-- <li><a href="/addStaff">Add nhân viên</a></li> -->
    </ul>
    <script src="/js/main.js"></script>
</body>

</html>