<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div>
        <% if (name.length> 0) { %>
            <div class="model_chekin_checkout">
                <h1>
                    Tên: <%= name%>
                </h1>
                <h1>
                    <% if(employment=="CTY" ){%>
                        Nơi Làm việc: Công ty
                        <%} if(employment=="HOME" ){%>
                            Nơi Làm việc: Nhà
                            <%} if(employment=="CLIENT" ){%>
                                Nơi Làm việc: Khách Hàng
                                <%} %>
                </h1>
                <h1>
                    Thời gian bắc đầu: <%= startTime%>
                </h1>
                <button class="btn"><a href="/">Home</a></button>
            </div>
            <% } else { %>
                <h1>No staffs Found!</h1>
                <% } %>
    </div>
</body>

</html>