<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <% if (name.length> 0) { %>
        <div class="">
            <h1>
                <%= name%>
            </h1>
            <h1>
                <%= employment%>
            </h1>
            <h1>
                <%= startTime%>
            </h1>
            <button><a href="/">Home</a></button>
        </div>
        <% } 
        else { %>
            <h1>No staffs Found!</h1>
        <% } %>
</body>

</html>